.product-container{
    width: 250px;
    height: 340px;
    border: 2mm ridge rgb(181, 250, 250);
    border-radius: 15px;
    position: relative;
    font-family:cursive;
    
}
.product-container img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 50px;
}
.product-name{
    font-size: 20px;
}
.product-info p{
    margin: 5px 10px;
}
.cart-btn{
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-family:cursive;
    border: none;
    border-radius: 10px;
    background-color: #af40af;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn p{
    font-size: 0.8rem;
}
.icon {
    font-size: 1.5rem;
    margin-left: 10px;
  }