.product-container{
    width: 250px;
    height: 340px;
    box-shadow: 2px 1px 3px 2.5px rgb(182, 182, 182);
    position: relative;
    font-family:cursive;
    margin: 15px;
}
.product-container img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 50px;
}
.product-name{
    font-size: 18px;
}
.product-info p{
    margin: 8px;
}
.cart-btn{
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-family:cursive;
    border: none;
    border-radius: 10px;
    color: #af40af;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cart-btn p{
    font-size: 1rem;
}
.icon {
    font-size: 1.5rem;
    margin-left: 10px;
  }