.selected-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
    box-shadow: 2px 1px 3px 2.5px rgb(182, 182, 182);
    padding-right: 10px;
    padding-left: 10px;

}
.selected-product img{
    width: 50px;
    height: 40px;
}
.selected-product h4{
    font-size: 12px;
}
.delete-btn{
    border: none;
}
.delete-icon{
    font-size: 2rem;
}